* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
	background: #1e1e1e;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cible {
	position: relative;
	width: 90vmin;
	height: 90vmin;
}


table {
	background: #87b7b9;
	border: 1px black solid;
	display: flex;
	flex-direction: column;
	padding: 2px;
}

th,
td {
	border: 1px black solid;
	padding: 8px;
}

td {
	text-align: center;
}

td:first-child {
	text-align: start;
}